.signup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: var(--primary-white);
}

.signup-form {
    background: var(--primary-black);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: var(--primary-box-shadow);
    text-align: center;
    width: 90%;
    max-width: 400px;
    backdrop-filter: blur(10px);
}

.signup-logo {
    width: 60px;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
    font-size: 1rem;
    opacity: 0.9;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    color: var(--primary-black);
}

.signup-button {
    width: 100%;
    padding: 12px;
    background: var(--primary-light-blue);
    color: var(--primary-white);
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.signup-button:hover {
    background: var(--primary-dark-blue);
    color: var(--primary-light-blue);
}

.signup-links {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.signup-links a {
    color: var(--primary-white);
    text-decoration: none;
    transition: color 0.3s;
}

.signup-links a:hover {
    color: var(--primary-light-blue);
}

.error-text {
    color: var(--error-red);
    font-size: 0.9rem;
}
