.landing-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 3rem;
    color: var(--primary-white);
}

.text-section {
    max-width: 50rem;
}

.text-section h1 {
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Kanit', sans-serif;
}

.text-section p {
    margin-top: 1rem;
    font-size: 1.5rem;
}

.button-group {
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;
}

.auth-button {
    border: 2px solid white;
    padding: 1rem 4.5rem;
    border-radius: 9px;
    font-size: 1.85rem;
    background: transparent;
    color: var(--primary-white);
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
    text-decoration: none;
    font-weight: bold;
}

.auth-button:hover {
    background: var(--primary-white);
    color: var(--primary-dark-blue);
}

.image-section {
    display: flex;
    position: relative;
    justify-content: flex-end;
}

.mobile-image {
    height: 30rem;
    width: auto;
}

.mobile-image-offset {
    margin-left: -5rem;
}