.about-us-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: var(--primary-white);
    padding: 2rem;
}

.about-us-content {
    background: rgba(0, 0, 0, 0.85);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    max-width: 800px;
    width: 100%;
    overflow-y: auto;
    max-height: 80vh;
    backdrop-filter: blur(10px);
}

.about-us-content h1, h2, h3 {
    color: var(--primary-light-blue);
}

.about-us-content p {
    margin-bottom: 1rem;
    line-height: 1.6;
}