.policy-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: var(--primary-white);
    padding: 2rem;
}

.policy-content {
    background: var(--primary-black);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: var(--primary-box-shadow);
    max-width: 800px;
    width: 100%;
    overflow-y: auto;
    max-height: 80vh;
    backdrop-filter: blur(10px);
}

.policy-content h1, h2, h3 {
    color: var(--primary-light-blue);
}

.policy-date {
    font-style: italic;
    opacity: 0.8;
    margin-bottom: 1rem;
}

.policy-content p, .policy-content ul {
    margin-bottom: 1rem;
    line-height: 1.6;
}

.policy-content ul {
    padding-left: 1.5rem;
}

.policy-content li {
    margin-bottom: 0.5rem;
}
