.navbar-container {
    width: 100%;
    background-color: #ffffff;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo-and-title {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
}

.logo {
    width: 90px;
    height: auto;
    margin-right: 10px;
}

.menu-button {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1100;
}

.menu-button:hover {
    background-color: #007AFF;
}

.nav-items-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    position: absolute;
    top: 60px;
    right: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    width: 200px;
    border: 1px black solid;
}

.nav-item {
    background: none;
    border: none;
    font-size: 18px;
    padding: 10px 0;
    cursor: pointer;
    width: 100%;
    text-align: left;
}

.nav-item:hover {
    background-color: #007AFF;
}

.logout {
    background: none;
    border: none;
    font-size: 18px;
    padding: 10px 0;
    cursor: pointer;
    width: 100%;
    text-align: left;
}
